*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #121212;
  color: white;
}

.hero-section {
  min-height: 100vh;
}

.about-section {
  background-color: #121212;
  color: #d8dee9;
  min-height: 100vh;
}

.stack-section {
  background-color: #b48ead;
  color: #121212;
  min-height: 20vh;
  padding: 2em 0;
}

.projects-section {
  background-color: #d8dee9;
  /* background-color: #121212; */
  color: #121212;
  min-height: 100vh;
  padding: 2em 0;
}

.contact-section {
  background-color: #121212;
  color: #d8dee9;
  min-height: 90vh;
}

footer {
  min-height: 10vh;
}

.contact-heading,
.projects-heading {
  position: relative;
}

.contact-heading:after {
  background-color: #d8dee9;
}

.projects-heading:after {
  background-color: #121212;
}

.contact-heading:after,
.projects-heading:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.2em;
  margin-left: -1em;
  width: 2em;
  height: 4px;
}

.tile-img {
  mix-blend-mode: multiply;
}

.modal-img-container img {
  width: 100%;
  height: auto;
}

.modal-img-container,
#transition-modal-description,
#transition-modal-descriptionTwo {
  margin-bottom: 1em;
}

#transition-modal-title {
  margin-bottom: 1em;
  position: relative;
  text-align: center;
}

.outline {
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: #121212;
}
